{% extends 'mainsite/base.html' %}

{% block title %}
Home
{% endblock %}


{% block content %}
<h1><p class="text-center">Home</p></h1>
<h1><p>Welcome to Math Site!</p></h1>
<p class='ex1'>Here you will find the best math applications including:</p>
<ul class='ex1'>
  <li><a href='/calculator'>Calculator</a></li>
  <li><a href='/info'>Information</a></li>
  <li><a href='/videos'>Videos</a></li>
  <li><a href='/results'>Results<a/></li>
  <li><a href='/author'>Author<a/></li>
</ul>
{% endblock %}
