{% extends 'mainsite/base.html' %}

{% block title %}
Videos
{% endblock %}


{% block content %}
<h1><p class="text-center">Videos</p></h1>
<p class="ex2">Videos to watch if you are interested about math:</p>
<ul class="ex2">
  <div class='ex2'>
    <li>Basic Arithmetic:</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TMubSggUOVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <li>Introduction to Geometry:</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/302eJ3TzJQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <li>Introduction to Calculus:</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GiCojsAWRj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <li>Introduction to Integration</li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cCdj0uy0v80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
